.block__link {
	    position: relative;

    border-radius: var(--32, 2rem) var(--32, 2rem) var(--0, 0rem) var(--0, 0rem);
    background: var(--Gradient-1, linear-gradient(180deg, #2d2d50 -12.32%, #131327 110.05%));
padding: 1rem 0 3rem;
    color: #f2f7ff;
	z-index: 0;
    .block__link__title {
        color: #f2f7ff;
    }

	img {
		max-width: 80%;
		display: block;
		margin: 0 auto;
	}
}
