.pinnedSections__wrapper {
    position: relative;
    margin-top: 50px;
    padding: 90px 0;
    height: auto;

    .pinnedSections {
        position: relative;
        width: 100%;
        height: 100vh;

        .pinnedSections__item {
            display: grid;
            position: absolute;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            gap: 1.5rem;
            border: none;
            border-radius: 10px;
            background: linear-gradient(180deg, #171c60 12.95%, #080b3a 110.05%);
            padding: 4.75rem;
            width: 100%;
            height: 100%;
            color: #fff;

            .pinnedSections__feature {
                color: var(--Primary, #3c98ed);
                font-weight: 700;
                line-height: var(--Line-Height-Headline-H4, 1.6875rem);
                /* 192.857% */
                letter-spacing: var(--4, 0.25rem);
                text-transform: uppercase;
            }

            .pinnedSections__title {
                font-style: normal;
                font-weight: 600;
                font-size: var(--Scale-XL, 2rem);
                line-height: var(--Line-Height-Headline-H2, 2.5rem);
                letter-spacing: var(--2, 0.125rem);
            }

            .pinnedSections__desc {
                font-style: normal;
                font-weight: 400;
                font-size: var(--Scale-M, 1.125rem);
                line-height: var(--Line-Height-Body-B1, 1.6875rem);
            }
            img {
margin: 0 auto;
            }
        }
    }
}
