/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       heptalytics_1.0.0.0
 *
 */
//=> templates/wp-home.php

.blog {
    &__list {
        grid-row-gap: 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 1.5rem;
        @include breakpoint(tablet) {
            grid-template-columns: 1fr 1fr;
            padding-bottom: 1rem;
            overflow: scroll;
            grid-row-gap: 3rem;
        }
        @include breakpoint(laptop) {
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 4rem;
        }
    }

    &__item {
        transition: box-shadow 0.2s;
        height: 100%;
        overflow: hidden;
        text-decoration: none;
        &__image {
            display: block;
            position: relative;
            border-radius: 0.75rem;
            padding-top: 60%;
            width: 100%;
            overflow: hidden;
            img {
                position: absolute;
                inset: 0%;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__author {
            display: flex;
            justify-content: space-between;
            align-items: center;
            opacity: 0.8;
            margin-bottom: 1rem;
            font-size: 0.8125rem;
        }
        &__content {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: flex-start;
            padding: 1.5rem;
            text-decoration: none;
            h3 {
                font-size: 1.125rem;
                line-height: 1.5;
            }
            a {
                color: $color-black;
            }
        }
    }
}
