.page-title {
    text-transform: capitalize;
}

/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       heptalytics_1.0.0.0
 *
 */

//=> templates/wp-page.php
.section__area .container {
    max-width: 1120px;
}
.page__area {
    margin-bottom: 3rem;
    .container {
        max-width: 800px;
    }
}
